#thegoodsImg{
	height: 200px;
	width:200px;
}

#metaImg{
	height:200px;
	width:200px;
}

#maxumultraImg{
	height:200px;
	width:200px;
}

#cfImg{
	height:200px;
	width:200px;
}

#quatroImg{
	height:200px;
	width:200px;
}

#voodooImg{
	height:200px;
	width:200px;
}

#cat7Img{
	height:200px;
	width:200px;
}

#bigbarrelImg{
	height:200px;
	width:200px;
}

#metapwrImg{
	height:200px;
	width:200px;
}

#prime919Img{
	height:200px;
	width:200px;
}

#textColorBurlyWood{
	color:burlywood;
}

#textColorDodgerBlue{
	color:dodgerblue;
}

#textColorOrangeRed{
	color:orangered;
}

#textColorDarkOrange{
	color:darkorange;
}

#textColorRed{
	color:red;
}

#textColorGainsboro{
	color:gainsboro;
}

#textColorDarkRed{
	color:darkred;
}